.purchases-container {
  width: 50%;
  min-width: 400px;
  margin: 50px auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 20px;
}

header {
  border-bottom: 1px solid lightgray;
}

.items-div p {
  border: 1px solid lightgray;
  width: 30px;
  text-align: center;
}

.items-div {
  padding: 30px 10px 10px;
}

.li {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  height: 60px;
  margin-bottom: 20px;
  gap: 60px;
  font-size: 15px;
  font-style: italic;
}
